<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= csrf_meta_tags %>
<body>
  <section class="video-container-responsive">
  <video src="https://player.vimeo.com/external/188551427.hd.mp4?s=3b8e689848de772cc4323a6adab99122892e04f6&amp;profile_id=174&amp;oauth2_token_id=57447761&amp" autoplay loop playsinline muted></video>
  <div class="callout">
  </div>
</section>
    <div class="cover-image img-responsive">
      <div class="cover-page text-center">
        <div class="hero">
          <h1 class="hero-title">Rock Restaurant</h1>
        </div>

      </div>
    </div>

    <main class="dhoni-main" id="main">
      <div class="container" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in"> <!-- I again had to add this extra div or container to fix issue I had with AOS library I keep sending me to mid of dhoni-intro, not at the begging -->
        <br>
        <br>
        <br>
        <div class="row dhoni-intro">
          <div class="col-md-6">
            <h2 class="text-center">Welcome to Rock Restaurant</h2>
            <hr class="hr-style">
            <p class="text-justify"> Rock Restaurant - it's not only about the food ... At Rock Restaurant, our mission is simple: enhance and educate the palate with the freshest ingredients and flavors, while surprising and exciting each guest with personal care and service. We are committed to uniting fresh, locally grown produce with farm-raised and wild-caught seafood to make the freshest dishes you’ll find anywhere.   </li>
          </div>
          <div class="col-md-6 text-center">
            <img src="http://rocksoft.pl/wp-content/uploads/2018/04/rocksoft_logo.svg" class="img-respnsive img-thumbnail dhoni-title-image" alt="Drone in the Sky">
          </div>
        </div>
<br>
<br>
<br>
<br>
    <div class="cover-image-2 img-responsive", data-aos="fade-up" data-aos-duration="1000"  data-aos-easing="ease-in" >
    </div>

    <section class="container dhoni-timeline" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in">
      <br>
      <h2 class="text-center" id="title-mobile">Rock Restaurant</h2>
      <hr class="hr-style">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <ul>
            <li><strong>Quality</strong> - the best ingredients!</li>
            <br>
            <li><strong>Price</strong>  - it doesn't matter whether you're a businessman or a school teacher. In Rock Cafe you'll always find something affordable! </li>
             <br>
            <li><strong>Atmosphere</strong> -  Amazing! Just come and see!</li>
              <br>
              <br>
              <br>
              <br>
  </body>
</html>